<div class="container">
    <div class="table p-shadow-19">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" #f>
            <div class="p-field p-col-4 p-md-12">
                <div class="form-row">
                    <div class="">
                            <label for="inputText">FirstName</label>
                        <div class="form-row">
                            <div class="">
                                <input type="text" id="inputText" pInputText formControlName="firstname"
                                    class='form-control' placeholder="firstname" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                            <label for="lastname">Lastname</label>
                            <div class="">
                                <input type="text" id="lastname" pInputText formControlName="lastname" class='form-control'
                                    placeholder="lastname" />
                            </div>
                    </div>
                    <div>
                        <div>
                            <label for="age">Age</label>
                        </div>
                        <div class="">
                            <div class="">
                                <input type="number" id="age" pInputText formControlName="age" class='form-control'
                                   min="15"  placeholder="age" />
                            </div>
                        </div>
                    </div>
                    <div class="btn_component">
                        <button
                          pButton
                          type="button"
                          label="Add"
                          class="p-button-primary p-button-lg"
                          (click)="onAdd()"
                          [disabled]="userForm.invalid">
                        </button>
                      <button
                        pButton
                        type="submit"
                        label="Edit"
                        class="p-button-success p-button-lg">
                      </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>