<div class="container">
    <div class="table p-shadow-19">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" #f>
            <div class="p-field p-col-4 p-md-12">
                <div class="form-row">
                    <div class="" *ngFor="let data of formData">
                            <label [for]=data.fieldName>{{data.header}}</label>
                        <div class="form-row">
                            <div class="">
                                <input type="text" [id]=data.fieldName pInputText [formControlName]=data.fieldName
                                    class='form-control' [placeholder]=data.fieldName />
                            </div>
                        </div>
                    </div>
                    <div class="btn_component">
                        <button
                          *ngIf="!editing"
                          pButton
                          type="button"
                          label="Add"
                          class="p-button-primary p-button-lg"
                          (click)="onAdd()"
                          [disabled]="userForm.invalid">
                        </button>
                      <button
                        *ngIf="editing"
                        pButton
                        type="submit"
                        label="Update"
                        class="p-button-success p-button-lg">
                      </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
