<div class="container">
    <div class="table p-shadow-19">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(f)" #f>
            <div class="p-field p-col-2 p-md-4">
                <div class="form-row">
                    <div class="">
                        <div class="">
                            <label for="inputText">FirstName</label>
                        </div>
                        <div class="form-row">
                            <div class="">
                                <input type="text" id="inputText" pInputText formControlName="firstname"
                                    class='form-control' placeholder="firstname" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label for="lastname">Lastname</label>
                        </div>
                        <div class="">
                            <div class="">
                                <input type="text" id="lastname" pInputText formControlName="lastname" class='form-control'
                                    placeholder="lastname" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="age">Age</label>
                        </div>
                        <div class="">
                            <div class="">
                                <input type="number" id="age" pInputText formControlName="age" class='form-control'
                                    placeholder="age" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <button
                          pButton
                          type="button"
                          label="Add"
                          class="p-button-success"
                          (click)="onAdd()">
                        </button>
                      <button
                        pButton
                        type="button"
                        label="Edit"
                        class="p-button-success">
                      </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
