<div class="container">
    <div class="table p-shadow-19">
        <form [formGroup]="userForm">
            <div class="p-field p-col-2 p-md-4">
                <div class="form-row">
                    <div class="">
                        <div class="">
                            <label for="inputtext">Firstname</label>
                        </div>
                        <div class="form-row">
                            <div class="">
                                <input type="text" id="inputtext" pInputText formControlName="firstname"
                                    class='form-control' placeholder="firstname" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label for="">Lastname</label>
                        </div>
                        <div class="">
                            <div class="">
                                <input type="text" pInputText formControlName="lastname" class='form-control'
                                    placeholder="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label for="">Age</label>
                        </div>
                        <div class="">
                            <div class="">
                                <input type="number" pInputText formControlName="age" class='form-control'
                                    placeholder="age" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <button pButton type="button" label="Add Student" class="p-button-succes"
                            (click)="onAdd()"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="p-grid" *ngIf="!editing">
        <ul class="box">
            <li class="p-col p-shadow-11" *ngFor="let student of detail">
                {{student.firstname}} {{ student.lastname}} {{student.age}}
                <div class="but">
                    <button pButton type="button" label="Edit" (click)="toggleEdit()"></button>
                    <button pButton type="button" label="Remove" class="p-button-danger"
                        (click)="onRemove(student)"></button>
                </div>
            </li>
        </ul>
    </div>

    <div *ngIf=editing>
        <div *ngFor="let el of detail">
            <ul class="">
                <li>{{el.firstname}} {{el.lastname}} {{el.age}}</li>
                <input type="text" pInputText class="p-col-2" [(ngModel)]="el.firstname"
                    placeholder="{{el.firstname}}" />
                <input type="text" pInputText [(ngModel)]="el.lastname" placeholder="{{el.lastname}}" />
                <input type="number" pInputText [(ngModel)]="el.age" placeholder="{{el.age}}" />
                <button pButton type="button" label="Add Change" (click)="handleEdit(el)"></button>
            </ul>
        </div>
    </div>
</div>


<!-- <div class="" *ngFor="let obj of detail; let i = index;">
    <div *ngFor="let item of obj | keyvalue">
      <span class=""> {{item.key}} :</span>
      <span class="">{{item.value}} </span>
    </div>
</div> -->